<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="peterfajdiga.fastdraw">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".listeners.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:icon="@mipmap/ic_launcher_settings"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="false"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
